<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Founders</title>
    <style>
        .container {
            display: flex;
            flex-direction: row;
            height: 100vh;
        }
        .col {
            flex: 1;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col" style="background-image: url(../public/images/y.jpg);">
        <h2>Lê Như Ý(bên phải)</h2>
        <p>from C1022I1</p>
    </div>
    <div class="col" style="background-image: url(../public/images/trg.jpg);">
        <h2>Phạm Việt Trung</h2>
        <p> from C1022I1</p>
    </div>
</div>
</body>
</html>